/* src/app/shared/theme-toggle/theme-toggle.component.css */
.theme-toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%; /* le doy un ancho de 6% */
}
.theme-toggle-btn img {
  width: 82%; /* del 6% que ocupe el 82% */
}